In [1]:
import pandas as pd
import sqlite3
import mysql.connector
from google.cloud import storage

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
cnx = mysql.connector.connect(user= 'root', password='1245', host='34.168.170.25', database='test')
cursor = cnx.cursor()

In [87]:
query00 = ('create table AmazonCustomerBehaviorSurvey (Timestamp datetime, \
        age int, \
        gender varchar(128), \
        Purchase_Frequency varchar(128), \
        Purchase_Categories varchar(128), \
        Personalized_Recommendation_Frequency varchar(128), \
        Browsing_Frequency varchar(128), \
        Product_Search_Method varchar(128), \
        Search_Result_Exploration varchar(128), \
        Customer_Reviews_Importance int, \
        Add_to_Cart_Browsing varchar(128), \
        Cart_Completion_Frequency varchar(128), \
        Cart_Abandonment_Factors varchar(128), \
        Saveforlater_Frequency varchar(128), \
        Review_Left varchar(128), \
        Review_Reliability varchar(128), \
        Review_Helpfulness varchar(128), \
        Personalized_Recommendation_Frequency_B int, \
        Recommendation_Helpfulness varchar(128), \
        Rating_Accuracy int, \
        Shopping_Satisfaction int, \
        Service_Appreciation varchar(128), \
        Improvement_Areas varchar(128))') 
cursor.execute(query00)

In [89]:
query01 = ('select * from AmazonCustomerBehaviorSurvey')
cursor.execute(query01)

In [90]:
df = pd.DataFrame(cursor.fetchall())

In [91]:
# eliminar registros 
df.drop([0], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True) # reset index

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       602 non-null    datetime64[ns]
 1   1       602 non-null    int64
 2   2       602 non-null    object
 3   3       602 non-null    object
 4   4       602 non-null    object
 5   5       602 non-null    object
 6   6       602 non-null    object
 7   7       602 non-null    object
 8   8       602 non-null    object
 9   9       602 non-null    int64
 10  10      602 non-null    object
 11  11      602 non-null    object
 12  12      602 non-null    object
 13  13      602 non-null    object
 14  14      602 non-null    object
 15  15      602 non-null    object
 16  16      602 non-null    object
 17  17      602 non-null    int64
 18  18      602 non-null    object
 19  19      602 non-null    int64
 20  20      602 non-null    int64
 21  21      602 non-null    object
 22  22      602 non-null    object
dtypes: datetime64[ns](1), int64(5), object(17)
memory usage: 108.3+ KB

In [93]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,2023-06-04 01:28:19,23,Female,Few times a month,Beauty and Personal Care,Yes,Few times a week,Keyword,Multiple pages,1,Yes,Sometimes,Found a better price elsewhere,Sometimes,Yes,Occasionally,Yes,2,Yes,1,1,Competitive prices,Reducing packaging waste\r
1,2023-06-04 02:30:44,23,Female,Once a month,Clothing and Fashion,Yes,Few times a month,Keyword,Multiple pages,1,Yes,Often,High shipping costs,Rarely,No,Heavily,Yes,2,Sometimes,3,2,Wide product selection,Reducing packaging waste\r
2,2023-06-04 05:04:56,24,Prefer not to say,Few times a month,Groceries and Gourmet Food;Clothing and Fashion,No,Few times a month,Keyword,Multiple pages,2,Yes,Sometimes,Found a better price elsewhere,Rarely,No,Occasionally,No,4,No,3,3,Competitive prices,Product quality and accuracy\r
3,2023-06-04 05:13:00,24,Female,Once a month,Beauty and Personal Care;Clothing and Fashion;...,Sometimes,Few times a month,Keyword,First page,5,Maybe,Sometimes,Found a better price elsewhere,Sometimes,Yes,Heavily,Yes,3,Sometimes,3,4,Competitive prices,Product quality and accuracy\r
4,2023-06-04 05:28:06,22,Female,Less than once a month,Beauty and Personal Care;Clothing and Fashion,Yes,Few times a month,Filter,Multiple pages,1,Yes,Sometimes,High shipping costs,Rarely,No,Heavily,Yes,4,Yes,2,2,Competitive prices,Product quality and accuracy\r

In [94]:
# renombrar columna
df.rename({0:'MarcaTiempo',	1:'Edad', 2:'Genero', 3:'FrecuenciaCompra', 4:'CategoriaProductosComprados', 5:'ComprasRecomendacionesPersonalizadas', 6:'FrecuenciaBusqueda', 7:'MetodoBusqueda', 8:'ExploracionResultadoBusquedas', 9:'ImportanciaReseñasTerceros', 10:'AgregasMientrasBuscas', 11:'ComprasCuandoAgregas', 12:'FactoresAbandonoCarrito', 13:'GuardasCarritoDespues', 14:'RealizasReseñas', 15:'ReseñasTercerosConfiables', 16:'ReseñasTercerosUtiles', 17:'FrecuenciaRecomendacionesPersonalizadas', 18:'RecomendacionesPersonalizadasUtiles', 19:'PrecisionRecomendacionesPersonalizadas', 20:'SatisfaccionExperienciaCompra', 21:'ServiciosMasApreciados', 22:'AreasMejora'}, axis=1, inplace=True)

In [95]:
# organizar columnas
df = df[['MarcaTiempo',	'Edad', 'Genero', 'FrecuenciaBusqueda', 'MetodoBusqueda', 'ExploracionResultadoBusquedas', 'AgregasMientrasBuscas', 'GuardasCarritoDespues', 'ComprasCuandoAgregas',  'FactoresAbandonoCarrito', 'ReseñasTercerosConfiables', 'ReseñasTercerosUtiles', 'ImportanciaReseñasTerceros', 'RealizasReseñas', 'FrecuenciaRecomendacionesPersonalizadas', 'RecomendacionesPersonalizadasUtiles', 'PrecisionRecomendacionesPersonalizadas', 'ComprasRecomendacionesPersonalizadas', 'FrecuenciaCompra', 'CategoriaProductosComprados', 'ServiciosMasApreciados', 'SatisfaccionExperienciaCompra', 'AreasMejora']]

In [96]:
df.head(2)

,MarcaTiempo,Edad,Genero,FrecuenciaBusqueda,MetodoBusqueda,ExploracionResultadoBusquedas,AgregasMientrasBuscas,GuardasCarritoDespues,ComprasCuandoAgregas,FactoresAbandonoCarrito,ReseñasTercerosConfiables,ReseñasTercerosUtiles,ImportanciaReseñasTerceros,RealizasReseñas,FrecuenciaRecomendacionesPersonalizadas,RecomendacionesPersonalizadasUtiles,PrecisionRecomendacionesPersonalizadas,ComprasRecomendacionesPersonalizadas,FrecuenciaCompra,CategoriaProductosComprados,ServiciosMasApreciados,SatisfaccionExperienciaCompra,AreasMejora
0,2023-06-04 01:28:19,23,Female,Few times a week,Keyword,Multiple pages,Yes,Sometimes,Sometimes,Found a better price elsewhere,Occasionally,Yes,1,Yes,2,Yes,1,Yes,Few times a month,Beauty and Personal Care,Competitive prices,1,Reducing packaging waste\r
1,2023-06-04 02:30:44,23,Female,Few times a month,Keyword,Multiple pages,Yes,Rarely,Often,High shipping costs,Heavily,Yes,1,No,2,Sometimes,3,Yes,Once a month,Clothing and Fashion,Wide product selection,2,Reducing packaging waste\r

In [97]:
# eliminar registro si todos sus valores son nulos
df.dropna(axis=0, how='all', inplace=True)

In [98]:
# eliminar duplicados
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True) # reset index

In [99]:
# imputar valores nulos
df['MetodoBusqueda'].fillna(value='No Data', inplace=True)

In [100]:
# string to list
df['CategoriaProductosComprados'] = df.CategoriaProductosComprados.apply(lambda x: x.split(';'))

In [101]:
# crear rango etario
df['RangoEtario']= df['Edad'].apply(lambda x: '< 20 años' if x < 20 else ('20-29 años' if 20<= x <30 else ('30-39 años' if 30<= x < 40 else ('40-49 años' if 40<= x < 50 else '>= 50 años'))))

In [102]:
# organizar columnas
df = df[['MarcaTiempo',	'Edad', 'RangoEtario', 'Genero', 'FrecuenciaBusqueda', 'MetodoBusqueda', 'ExploracionResultadoBusquedas', 'AgregasMientrasBuscas', 'GuardasCarritoDespues', 'ComprasCuandoAgregas',  'FactoresAbandonoCarrito', 'ReseñasTercerosConfiables', 'ReseñasTercerosUtiles', 'ImportanciaReseñasTerceros', 'RealizasReseñas', 'FrecuenciaRecomendacionesPersonalizadas', 'RecomendacionesPersonalizadasUtiles', 'PrecisionRecomendacionesPersonalizadas', 'ComprasRecomendacionesPersonalizadas', 'FrecuenciaCompra', 'CategoriaProductosComprados', 'ServiciosMasApreciados', 'SatisfaccionExperienciaCompra', 'AreasMejora']]

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   MarcaTiempo                              602 non-null    datetime64[ns]
 1   Edad                                     602 non-null    int64
 2   RangoEtario                              602 non-null    object
 3   Genero                                   602 non-null    object
 4   FrecuenciaBusqueda                       602 non-null    object
 5   MetodoBusqueda                           602 non-null    object
 6   ExploracionResultadoBusquedas            602 non-null    object
 7   AgregasMientrasBuscas                    602 non-null    object
 8   GuardasCarritoDespues                    602 non-null    object
 9   ComprasCuandoAgregas                     602 non-null    object
 10  FactoresAbandonoCarrito                  602 non-null    object
 11  ReseñasTercerosConfiables                602 non-null    object
 12  ReseñasTercerosUtiles                    602 non-null    object
 13  ImportanciaReseñasTerceros               602 non-null    int64
 14  RealizasReseñas                          602 non-null    object
 15  FrecuenciaRecomendacionesPersonalizadas  602 non-null    int64
 16  RecomendacionesPersonalizadasUtiles      602 non-null    object
 17  PrecisionRecomendacionesPersonalizadas   602 non-null    int64
 18  ComprasRecomendacionesPersonalizadas     602 non-null    object
 19  FrecuenciaCompra                         602 non-null    object
 20  CategoriaProductosComprados              602 non-null    object
 21  ServiciosMasApreciados                   602 non-null    object
 22  SatisfaccionExperienciaCompra            602 non-null    int64
 23  AreasMejora                              602 non-null    object
dtypes: datetime64[ns](1), int64(5), object(18)
memory usage: 113.0+ KB

In [104]:
df.head()

,MarcaTiempo,Edad,RangoEtario,Genero,FrecuenciaBusqueda,MetodoBusqueda,ExploracionResultadoBusquedas,AgregasMientrasBuscas,GuardasCarritoDespues,ComprasCuandoAgregas,FactoresAbandonoCarrito,ReseñasTercerosConfiables,ReseñasTercerosUtiles,ImportanciaReseñasTerceros,RealizasReseñas,FrecuenciaRecomendacionesPersonalizadas,RecomendacionesPersonalizadasUtiles,PrecisionRecomendacionesPersonalizadas,ComprasRecomendacionesPersonalizadas,FrecuenciaCompra,CategoriaProductosComprados,ServiciosMasApreciados,SatisfaccionExperienciaCompra,AreasMejora
0,2023-06-04 01:28:19,23,20-29 años,Female,Few times a week,Keyword,Multiple pages,Yes,Sometimes,Sometimes,Found a better price elsewhere,Occasionally,Yes,1,Yes,2,Yes,1,Yes,Few times a month,[Beauty and Personal Care],Competitive prices,1,Reducing packaging waste\r
1,2023-06-04 02:30:44,23,20-29 años,Female,Few times a month,Keyword,Multiple pages,Yes,Rarely,Often,High shipping costs,Heavily,Yes,1,No,2,Sometimes,3,Yes,Once a month,[Clothing and Fashion],Wide product selection,2,Reducing packaging waste\r
2,2023-06-04 05:04:56,24,20-29 años,Prefer not to say,Few times a month,Keyword,Multiple pages,Yes,Rarely,Sometimes,Found a better price elsewhere,Occasionally,No,2,No,4,No,3,No,Few times a month,"[Groceries and Gourmet Food, Clothing and Fash...",Competitive prices,3,Product quality and accuracy\r
3,2023-06-04 05:13:00,24,20-29 años,Female,Few times a month,Keyword,First page,Maybe,Sometimes,Sometimes,Found a better price elsewhere,Heavily,Yes,5,Yes,3,Sometimes,3,Sometimes,Once a month,"[Beauty and Personal Care, Clothing and Fashio...",Competitive prices,4,Product quality and accuracy\r
4,2023-06-04 05:28:06,22,20-29 años,Female,Few times a month,Filter,Multiple pages,Yes,Rarely,Sometimes,High shipping costs,Heavily,Yes,1,No,4,Yes,2,Yes,Less than once a month,"[Beauty and Personal Care, Clothing and Fashion]",Competitive prices,2,Product quality and accuracy\r

In [106]:
df.to_csv('ACBS.csv', index=False, header=False, lineterminator='\n', encoding='utf-8')

----------------

In [107]:
query02 = ('create table ACBS (MarcaTiempo datetime, \
           Edad int, \
           RangoEtario varchar(128), \
           Genero varchar(128), \
           FrecuenciaBusqueda varchar(128), \
           MetodoBusqueda varchar(128), \
           ExploracionResultadoBusquedas varchar(128), \
           AgregasMientrasBuscas varchar(128), \
           GuardasCarritoDespues varchar(128), \
           ComprasCuandoAgregas varchar(128), \
           FactoresAbandonoCarrito varchar(128), \
           ReseñasTercerosConfiables varchar(128), \
           ReseñasTercerosUtiles varchar(128), \
           ImportanciaReseñasTerceros int, \
           RealizasReseñas varchar(128), \
           FrecuenciaRecomendacionesPersonalizadas int, \
           RecomendacionesPersonalizadasUtiles varchar(128), \
           PrecisionRecomendacionesPersonalizadas int, \
           ComprasRecomendacionesPersonalizadas varchar(128), \
           FrecuenciaCompra varchar(128), \
           CategoriaProductosComprados varchar(128), \
           ServiciosMasApreciados varchar(128), \
           SatisfaccionExperienciaCompra int, \
           AreasMejora varchar(128))')
cursor.execute(query02)

In [ ]:
query03 = (('select * from ACBS'))
cursor.execute(query03)

In [5]:
df = pd.DataFrame(cursor.fetchall())

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       602 non-null    datetime64[ns]
 1   1       602 non-null    int64
 2   2       602 non-null    object
 3   3       602 non-null    object
 4   4       602 non-null    object
 5   5       602 non-null    object
 6   6       602 non-null    object
 7   7       602 non-null    object
 8   8       602 non-null    object
 9   9       602 non-null    object
 10  10      602 non-null    object
 11  11      602 non-null    object
 12  12      602 non-null    object
 13  13      602 non-null    int64
 14  14      602 non-null    object
 15  15      602 non-null    int64
 16  16      602 non-null    object
 17  17      602 non-null    int64
 18  18      602 non-null    object
 19  19      602 non-null    object
 20  20      602 non-null    object
 21  21      602 non-null    object
 22  22      602 non-null    int64
 23  23      602 non-null    object
dtypes: datetime64[ns](1), int64(5), object(18)
memory usage: 113.0+ KB

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
0,2023-06-04 01:28:19,23,20-29 años,Female,Few times a week,Keyword,Multiple pages,Yes,Sometimes,Sometimes,Found a better price elsewhere,Occasionally,Yes,1,Yes,2,Yes,1,Yes,Few times a month,['Beauty and Personal Care'],Competitive prices,1,Reducing packaging waste\r
1,2023-06-04 02:30:44,23,20-29 años,Female,Few times a month,Keyword,Multiple pages,Yes,Rarely,Often,High shipping costs,Heavily,Yes,1,No,2,Sometimes,3,Yes,Once a month,['Clothing and Fashion'],Wide product selection,2,Reducing packaging waste\r
2,2023-06-04 05:04:56,24,20-29 años,Prefer not to say,Few times a month,Keyword,Multiple pages,Yes,Rarely,Sometimes,Found a better price elsewhere,Occasionally,No,2,No,4,No,3,No,Few times a month,"['Groceries and Gourmet Food', 'Clothing and F...",Competitive prices,3,Product quality and accuracy\r
3,2023-06-04 05:13:00,24,20-29 años,Female,Few times a month,Keyword,First page,Maybe,Sometimes,Sometimes,Found a better price elsewhere,Heavily,Yes,5,Yes,3,Sometimes,3,Sometimes,Once a month,"['Beauty and Personal Care', 'Clothing and Fas...",Competitive prices,4,Product quality and accuracy\r
4,2023-06-04 05:28:06,22,20-29 años,Female,Few times a month,Filter,Multiple pages,Yes,Rarely,Sometimes,High shipping costs,Heavily,Yes,1,No,4,Yes,2,Yes,Less than once a month,"['Beauty and Personal Care', 'Clothing and Fas...",Competitive prices,2,Product quality and accuracy\r

In [10]:
# se cierra la conexion
cnx.close()